.centerElement {
    margin: auto;
    width: 50%;
    border: 3px solid rgb(71, 135, 160);
}

.centerText {
    text-align: center;
    border: 3px solid rgb(71, 135, 160);
}

.centerImage {
    display: block;
    margin: auto;
    border: 3px solid rgb(71, 135, 160);
    max-width: 300px;
}

.rightFloat {
    float: right;
    width: 75%;
    border: 3px solid rgb(71, 135, 160);
}

.rightPosition {
    position: absolute;
    right: 0px;
    width: 75%;
    border: 3px solid rgb(71, 135, 160);
}

.rightFlexBox {
    display: flex;
    justify-content: flex-end;
}

.rightFlexBox>div {
    border: 3px solid rgb(71, 135, 160);
}

.centerVerticallyFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid rgb(177, 118, 9);
}

.centerVerticallyFlexBox>div {
    border: 3px solid rgb(71, 135, 160);
}