:root {
    --nav-bg-color: #333;
    --nav-text-color: white;
    --nav-hover-bg-color: red;
}

:global([data-theme="dark"]) {
    --nav-bg-color: #111;
    --nav-text-color: white;
    --nav-hover-bg-color: red;
}

/* Navbar container */
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--nav-bg-color);
}

/* Links inside the navbar */
.navbar a {
    flex-basis: 25%;
}

/* The dropdown container */
.dropdownBtn {
    display: none;
    background-color: inherit;
}

.navbar a,
.dropdownBtn {
    color: var(--nav-text-color);
    font-size: 16px;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

/* Add a red background color to navbar links on hover ,and active for mobile */
.navbar a:hover,
.nav a:active,
.dropdownBtn:hover,
.dropdownBtn:active {
    background-color: var(--nav-hover-bg-color);
}


.open {
    display: block;
}

@media (max-width: 800px) {

    /* Responsive layout - makes a dropdown menu on mobile */
    .navbar>a {
        display: none;
    }

    .dropdownBtn {
        display: flex;
        flex-basis: 25%;
        /* position: relative to make .dropdown-content relative to this element*/
        position: relative;
    }

    /* Dropdown content (hidden by default) */
    .dropdownContent {
        display: none;
        position: absolute;
        /*relative to .dropdown */
        left: 0;
        right: 0;
        top: 100%;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Show the dropdown-content when hovering/clicking dropdownBtn */
    /* .dropdownBtn:hover .dropdownContent, */
    .dropdownBtn:hover .dropdownContent,
    .dropdownContent[data-open='open'] {
        display: block;
    }


    /* Add a grey background color to dropdown links on hover */
    .dropdownContent a:hover {
        background-color: #ddd;
    }

    /* Links inside the dropdown */
    .dropdownContent a {
        display: block;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .dropdownBtn {
        font-size: 14px;
    }
}