/* Removed to make compatible with React module css
* {
    box-sizing: border-box;
}
*/

/* CSS for Masonry Gallery using Grid and calculating grid-row-end------------------- */
.grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); 4 equal columns */
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 10px;
    /* Height of each row track, the lower the number the more accurate the grid */
    gap: 0 10px;
    /* Set row track gap to 0 and column gap to desired */
}

.item {
    position: relative;
    margin-bottom: 5px;
    break-inside: avoid;
}

.item a {
    display: block;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.item .img {
    display: block;
    width: 100%;
    z-index: 100;
}

.item span {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 15px 15px;
    color: white;
    background-color: #000000;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    opacity: 1;
    padding: 5px 0;
}

.item a:hover .img {
    transition: transform 0.3s ease;
    transform: scale(1.05);
}

/* Responsive layout  */
@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); 
        margin: 0 -10px; /* To overwrite the padding of the .main-content in main-layout.css for mobile screen */
    }
    .item {
        margin-bottom: 2px;
    }
}