   :global(:root) {
       --table-hover-bg: #eef;
   }

   /* Dark Theme */
   :global([data-theme="dark"]) {
       --table-hover-bg: rgb(113, 113, 173);
   }

    /* Hovering over row */
   .specialCharacters tr:hover,
   .specialCharacters tr:nth-child(even):hover {
       background-color: var(--table-hover-bg)
   }

   .specialCharacters code {
       white-space: nowrap;
   }

   /* Hide every 3rd column (HTML Code) to reduce clutter */
   .specialCharacters th:nth-child(3),
   .specialCharacters td:nth-child(3) {
       display: none;
   }