   :root {
       --table-hover-bg: #eef;
   }

   /* Dark Theme */
   [data-theme="dark"] {
       --table-hover-bg: rgb(113, 113, 173);
   }

    /* Hovering over row */
   tr:hover,
   tr:nth-child(even):hover {
       background-color: var(--table-hover-bg)
   }

   code {
       white-space: nowrap;
   }

   /* Hide every 4th column (HTML Code) to reduce clutter */
   /* th:nth-child(4n),
  td:nth-child(4n) {
      display: none;
  } */

   /* Hide every 3rd column (HTML Code) to reduce clutter */
   th:nth-child(4n-1),
   td:nth-child(4n-1) {
       display: none;
   }