table {
    display: flex;
    justify-content: center;
    border-collapse: separate;
    border-spacing: 15px;
    padding: 7px;
    width: 100%;
}

th {
    font-style: italic;
    text-align: center;
    font-variant: small-caps;
    font-size: 18px;
    padding: 0px;
    color: #FC7307;
    border: none;
    background: none;
}

td {
    border: 1px solid #B85B14;
    vertical-align: center;
    text-align: center;
    padding: 15px;
    color: #341C09;
    background-color: #D4E4F7;;
}

#exampleTableId {
    justify-content: center;
    margin: 20px 0;
    
}